 /* Reset CSS */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:  Helvetica, Arial, sans-serif;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (Kiểu chữ, hình tròn, hình vuông...)
*/

#main {
    height: 2000px;
}

#header {
    height: 46px;
    background-color: #000;
}

#nav, .supnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 26px;
    display: inline-block;
}

#nav > li:hover > a, 
#nav .supnav li:hover {
    background-color: #ccc;
    color: #000;
}

#nav li:hover .supnav{
    display: block;
}

#nav .supnav {
    display: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

#nav .supnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#slider {
    min-height: 500px;
    /* background-color: #666; */
}

#content {

}

#footer {

}
